* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, html{
    font-family: "Funnel Display", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    height: 100%;
    width:100wh;
    font-size: 1rem;
    color:ivory;
}
::-webkit-scrollbar {
    background-color: rgb(20, 20, 20);
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: ivory;
}
.big {
    height: 0.05rem;
    background-color: ivory;
    opacity: 35%;
    border: 0;
}
.small {
    margin: 0 5%;
    height: 0.05rem;
    background-color: ivory;
    opacity: 35%;
    border: 0;
}
header {
    height: 54px;
    position: fixed;
    transition: top 1s ease-in-out;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    overflow: hidden;
}
header .content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid ivory;
    border-radius: 45px;
    width: 430px;
    height: 50px;
    background-color: rgb(20, 20, 20);
}
header a {
    text-decoration: none;
    color: ivory;
    transition: ease-in-out 0.3s;
}
header a:hover {
    text-decoration: none;
    text-shadow: 0 0 15px rgba(255, 255, 240, 0.75);
}

.body {
    position: relative; 
    background-color: rgb(18, 18, 18);
    z-index: -2;
}
.home, .about, .skill, .contact {
    animation: 2s appear ease;
    animation-timeline: view();
    animation-range: entry 0;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.home {
    overflow: hidden;
    text-align: center;
    padding: 0 8rem;
    min-height: 100vh;
}

.about {
    overflow: hidden;
    text-align: center;
    padding: 6rem 8rem;
}
.about .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.44rem;
}
.about .title {
    font-size: 2.074rem;
}

.skill {
    overflow: hidden;
    padding: 6rem 8rem;
}
.skill .txt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 4rem;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
.skill .txt .title{
    color: #FC6220;
    font-size: 2.986rem;
    font-weight: 500;
}
.skill .txt .des{
    font-size: 2.369rem;
}
.skill .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 5%;
    gap: 25px;
}
.skill .box {
    width: 16rem;
    min-width: 214px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(23, 23, 23);
    padding: 12px;
    border: 1px solid rgba(255, 255, 240, 0.2);
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}
.skill .box:hover {
    border: 1px solid rgba(255, 255, 240, 0.50);
}
.skill .box .image {
    height: 50px;
    width: 50px;
    padding: 10px;
}
.skill .box .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill .box .items .des {
    font-size: 0.833rem;
    color: rgb(215, 215, 200);
}





.body .contact {
    overflow: hidden;
    text-align: center;
    justify-items: center;
    padding: 6rem 8rem;
}
.contact .container {
    width: 80%;
    background-color:rgb(23, 23, 23);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 240, 0.2);
    font-size: 1.2rem;
    padding: 3rem;
    gap: 2rem;
}
.contact .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3rem;
}
.contact .title, .subtitle {
    display: flex;
    text-align: left;
}
.contact .title {
    font-size: 2.074rem;
    color: #FC6220;
}
.contact .multimedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.contact .address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.contact .address .sub {
    font-size: 1rem;
}
.contact .multimedia .images {
    display: flex;
    flex-direction: row;
    height: 24px;
    gap: 0.6rem;
}
.contact .multimedia .images svg {
    fill: ivory;
    width: 1.5rem;
}
.contact a {
    text-decoration: none;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.contact form .name,.e-mail,.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact input[type=text],input[type=email] {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    animation: 1s apper-type ease-in-out;
    appearance: none;
    color: ivory;
}
.contact input[type=submit] {
    background-color: transparent;
    border: 1px solid ivory;
    border-radius: 45px;
    color: ivory;
    font-size: 1rem;
    height: 3rem;
    width: 8rem;
}


footer {
    overflow: hidden;
    color: black;
    padding: 2% 1.5%;
    align-content: center;
    background-color: ivory;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
footer .policy {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
footer .contact {
    display: flex;
    gap: 10px;
}
footer a {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
footer a:hover {
    text-shadow: 0 0 15px rgba(20, 20, 20, 0.75);
    text-decoration: none;
}
.tag {
    background-color: ivory;
    padding: 0 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    gap: 1.5%;
}
#star {
    scale: 0.945;
    transition: all 1s ease;
    animation: rotate 10s infinite;
    transform-origin:center;
}
@keyframes rotate {
    0%, 15% {
        rotate: 0deg;
    }
    20%, 35%{
        rotate: 72deg;
    }
    40%, 55%{
        rotate: 144deg;
    }
    60%, 75%{
        rotate: 216deg;
    }
    80%, 95%{
        rotate: 288deg;
    }
    100% {
        rotate: 360deg;
    }
}